<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
     <div fxFlex>
        <div>
          <h3>Menu</h3>
          <hr>
        </div>
      </div>
       <!--
        <mat-list fxFlex>
          <mat-list-item *ngFor="let dish of dishes">    
            <img matListAvatar  src={{dish.image}} alt={{dish.name}}>
            <h2 matLine> {{dish.name}} </h2>
            <p matLine>
              <span> {{dish.description}} </span>
            </p>
            <mat-divider></mat-divider>
          </mat-list-item> 
        </mat-list>-->
   <div fxFlex>
      <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile *ngFor="let dish of dishes">
          <img height="200px" width="200px" src="/assets/images/chai.jpg" alt={{Logo}}>
        <div>

          <img height="200px" width="200px" src="/assets/images/Matunda.jpg" alt={{Logo}}>
         
        </div>
    
          <mat-grid-tile-footer>
          
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  

