
  <mat-toolbar color="primary">
    <!--<span><img src="/assets/images/chai.jp" height=30 width=41></span>-->
    <a mat-button><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink='/Menu'><span class="fa fa-list fa-lg"></span> Menu</a>
    <a mat-button><span class="fa fa fa-lg"></span> Deals</a>
    <a mat-button><span class="fa fa-info fa-lg"></span> About us</a>
    <a mat-button routerLink='/contactus'><span class="fa fa-address-card fa-lg"></span> Contact us</a>
    <span class="flex-spacer"></span>
    <a mat-button (click)="openLoginForm()">
        <span class="fa fa-sign-in fa-lg"></span> 
        Login
    </a>

  
  </mat-toolbar>
  
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="50%">
      <h1>Tai Best Foods</h1>
      
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
      <img src="/assets/images/chai.jpg" alt="Logo">
    </div>
    <div fxFlex></div>
  </div>
  
  
  
